.jumbotron {
  background-color: #DAE56B;
  color: #000000;
  height: 145px;
  margin-top: 3%;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0; }

h1 {
  margin-top: 1%;
  align-items: center;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 20px;
  padding-bottom: 0px;
  color: #000000; }

.navbar {
  max-height: 25%; }

a.nav-link {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 21px;
  color: white;
  width: max-content; }

.nav-link {
  font-size: 21px; }

#rownav {
  margin-left: -10px; }

#link-active {
  font-size: 23px;
  font-weight: bold;
  text-shadow: whitesmoke 50px; }

#button-navbar {
  color: white;
  font-size: 22px;
  font-weight: lighter;
  border-color: #f5e7e5;
  border-width: 4px;
  margin-left: 5px;
  border-radius: 5px; }

.breadcrumb-container {
  border-color: lightgrey;
  border-width: 1.5px;
  border-style: groove;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 2px 12px 2px 12px;
  background-color: #f0eeee;
  box-shadow: gray; }

.breadcrumb-item {
  font-size: 22px; }

.img-fluid {
  height: 400px;
  width: 100%; }

hr {
  margin-top: 20px;
  margin-bottom: 25px; }

.card-hotel {
  flex: 1 175px;
  padding: 2px 2px 2px 2px;
  margin-left: 12px;
  margin-right: 12px;
  height: 100%; }

.card-img-top {
  width: 100%;
  height: 10%; }

.btn-reserva {
  width: 100%;
  font-size: 22px;
  height: 100%;
  margin-left: -1px;
  margin-bottom: 1px;
  background-color: #0099ff; }

p, .list-group-item, td, .card-header {
  font-size: 20px;
  text-decoration: none; }

code {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-family: inherit; }

.accordion-button {
  font-size: 20px;
  font-weight: 500; }

a, th {
  font-size: 20px;
  text-decoration: none; }

label {
  font-size: 21px;
  font-weight: 400; }

caption {
  font-size: 22px;
  text-decoration: none;
  color: black;
  font-weight: bold; }

.form-group {
  margin-top: 20px;
  margin-bottom: 20px; }

#item-active {
  font-weight: bold;
  color: black; }

.card-comentarios, .card-precios {
  margin-top: 50px;
  margin-bottom: 100px; }

.card-header {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold; }

#rowcollapse {
  margin-bottom: 20px;
  font-size: 22px; }

#tooltip {
  display: inline-block; }

#tooltip-title {
  background-color: black;
  color: blanchedalmond;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px; }

#carouselControl {
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 2px 2px 2px 2px;
  border-bottom: gray;
  border-top: gray;
  border-width: 2px;
  border-style: ridge; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: black;
  font-weight: 800;
  color: white;
  width: 70px;
  height: 70px;
  align-content: center;
  border-radius: 100%;
  border-color: lightcyan;
  border-style: solid;
  border-width: 5px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #DAE56B;
  margin-top: 400px; }

.footer-address-icon {
  padding-right: 10px; }

  * { box-sizing: border-box; }
  
  /* ---- grid ---- */
  
  .grid {
    background: #fafafa;
    width: 100%;}
  
  /* clearfix */
  .grid:after {
    content: '';
    display: block;
    clear: both;  }
  
  /* ---- grid-item ---- */
  .grid-item {
    width: 160px;
    height: 120px;
    float: left;  }  